@import "../../../App.scss";

.line {
    display: inline-block;
    height: 65px; 
    width: 5px;
    transform: translateY(0.25rem); 
    background-color: #d3d3d3;
    margin-left: 7px;

    @include mobile {
        height: 36px;
    }
}