.line {
    display: inline-block;
    height: 65px; /* 5 units in Tailwind = 1.25rem */
    width: 3px;
    transform: translateY(0.25rem); /* translate-y-1 in Tailwind */
    background-color: #d3d3d3; /* bg-slate-900 in Tailwind */
    margin-left: 7px;
}