// Ancoraggio verticale
:root {
  --text-color: #00ffee;
  --text-color-two: #bbbbbb;
  --white-color: #ffffff;
  --body-background: #0c0c1d;
  --sliding-text: #ffffff09;
}

html {
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

/* Scrollbar per WebKit-based browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 12px; /* Larghezza della scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--text-color);/* Colore del pollice della scrollbar */
  border-radius: 10px; /* Arrotondamento della scrollbar */
}

*::-webkit-scrollbar-track {
  background-color: rgba(35, 35, 85, 0.8); /* Colore del background della scrollbar */
}


body {
  background-color: var(--body-background);
  color: lightgray;
  position: relative;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  transition: transform 0.6s ease-in-out; /* Transizione fluida */
  
  
  &.snap-start {
    scroll-snap-align: center;
  }

  &.snap-none {
    scroll-snap-align: none;
  }

  @media (max-width: 738px) {
    overflow-y: auto;
  }
}

@mixin mobile {
  @media (max-width: 738px) {
    @content; // Segnaposto
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1260px) {
    @content;
  }
}